<div id="contact" class="contactMeSection">

    <div class="arrowUpDesktop">
        <img [src]="hover ? 'assets/contact/arrow-up-hover.png' : 'assets/contact/arrow-up.png'" alt="arrow-up"
            (mouseenter)="hover = true" (mouseleave)="hover=false" (click)="scrollToTop()">
    </div>

    <h1>{{languageService.translate('contactTitle')}}</h1>



    <div class="contactInformation">

        
        <p>{{languageService.translate('contactIntro1')}}<br>
            <br>
            {{languageService.translate('contactIntro2')}}
        </p>
  

        <div class="contactDates">
            <div class="contactMail">
                <img src="assets/contact/mailicondefault.png" alt="">
                <p>{{languageService.translate('emailLabel')}} martin.sinner.dev&#64;gmail.com</p>
            </div>

            <div class="contactPhone">
                <img src="assets/contact/phoneicondefault.png" alt="">
                <p>Tel: 0177 1531363</p>
            </div>
        </div>
    </div>
    <div class="ctaTextMobile">Let us work together!</div>

    <div class="contactFormContact">
        <div class="contactForm">

            <div class="contactNameMail">
                <div class="formGroup">

                    <label for="name"
                        [ngClass]="{'error' : showNameError}">{{languageService.translate('yourName')}}</label>

                    <input type="text" type="text" [(ngModel)]="name" [ngClass]="{'error' : showNameError}"
                        (input)="onInputChange('name')" placeholder="Your name">

                </div>


                <div class="formGroup">
                    <label for=""
                        [ngClass]="{'error' : showMailError}">{{languageService.translate('yourEmail')}}</label>
                    <input type="text" [(ngModel)]="email" [ngClass]="{'error' : showMailError}"
                        (input)="onInputChange('email')" placeholder="Your Email">

                        <p class="errorText emailError" *ngIf="showMailError">
                            {{languageService.translate('invalidEmail')}}
                        </p>
                </div>

            </div>

            <div class="contactMessage">
                <label for=""
                    [ngClass]="{'error' : showMessageError}">{{languageService.translate('yourMessage')}}</label>
                <textarea type="text" [(ngModel)]="message" [ngClass]="{'error' : showMessageError}"
                    (input)="onInputChange('message')" placeholder="Your Message"></textarea>
            </div>

            <div class="contactPivacyPolicy"
                [ngClass]="{'hovered' : hoverPolicy, 'checked' : privacyAccepted, 'error' : showError}"
                (mouseenter)="onHoverPolicy(true)" (mouseleave)="onHoverPolicy(false)" (click)="acceptPrivacy()">

                <img [src]="
                showError ? 'assets/contact/property-error.png' :
                privacyAccepted ? 'assets/contact/property-checked.png' :
                hoverPolicy ? 'assets/contact/property-hover.png' :
                'assets/contact/property-default.png' " alt="privacy checkbox">
                <p>{{languageService.translate('privacyNotice1')}}
                    <span [routerLink]="['/privacy-policy']">{{languageService.translate('privacyNotice2')}}</span>
                    {{languageService.translate('privacyNotice3')}}
                </p>
                <p class="errorText privacyError" *ngIf="showError">{{languageService.translate('privacyAccept')}}</p>
            </div>



            <div class="contactMeButton">
                <div class="successMessage" *ngIf="showSuccess">
                    {{languageService.translate('messageSent')}}
                </div>
                
                <button [ngClass]="{'enabled': isFormValid()}" 
                        [disabled]="!isFormValid()" 
                        (click)="submitForm()">
                    {{languageService.translate('sendButton')}}
                </button>
            </div>

        </div>

        <div class="arrowUpMobile">
            <img src="assets/contact/arrow-up.png" alt="arrow-up" (click)="scrollToTop()">
        </div>
    </div>
</div>