.contactMeSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    position: relative;

    >h1 {
        color: #89BCD9;
        font-size: 60px;
        font-weight: 400;
    }
}


#contact {
    scroll-margin-top: 100px;
}


.arrowUpDesktop {
    position: absolute;
    display: flex;
    right: clamp(30px, 10vw, 180px);
    top: 10px;

    &:hover {
        cursor: pointer;
    }
}


.arrowUpMobile {
    display: none;

    &:hover {
        cursor: pointer;
    }
}


.contactInformation {
    display: grid;
    grid-template-columns: 500px 280px 1fr;
    align-items: flex-start;
    gap: 60px;
    color: #F8F5EC;
    font-family: 'Josefin';
    margin-top: 70px;
    margin-bottom: 70px;

    >p {
        font-weight: 350;
        font-size: 18px;
        line-height: 25px;
    }
}


.contactDates {
    display: flex;
    flex-direction: column;
    gap: 16px;
}


.ctaTextMobile {
    display: none;
    justify-content: center;
    margin-bottom: 50px;
    font-family: 'Josefin';
    font-size: 20px;
    color: #89BCD9;
}


.contactMail,
.contactPhone {
    display: flex;
    align-items: center;
    gap: 16px;

    >p {
        white-space: nowrap;
        color: #F8F5EC;
        text-decoration: none;
    }
}


.contactForm {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    font-family: 'Josefin';
    gap: 24px;
}


.contactNameMail {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    flex-direction: row;
    gap: 24px;
}


.formGroup {
    >label {
        display: flex;
        color: #89BCD9;
        font-size: 14px;
        margin-bottom: 12px;
        padding-left: 15px;
    }

    >input {
        width: 445px;
        height: 60px;
        border-radius: 30px;
        background-color: #262E34;
        border: 1px solid #89BCD9;
        font-size: 18px;
        color: #F8F5EC;
        padding: 0 20px;

        &:focus {
            outline: none;
            background-color: #323F48;
        }

        &::placeholder {
            color: transparent;
        }
    }
}


.contactMessage {
    width: 100%;
    box-sizing: border-box;

    >label {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        color: #89BCD9;
        font-size: 14px;
        padding-left: 15px;
    }

    >textarea {
        margin-top: 12px;
        width: 100%;
        max-width: 911px;
        min-width: 280px;
        height: 164px !important;
        border-radius: 30px;
        background-color: #262E34;
        border: 1px solid #89BCD9;
        resize: none;
        padding: 16px 20px;
        font-size: 18px;
        color: #F8F5EC;
        line-height: 1.6;
        font-family: 'Josefin';

        &:focus {
            outline: none;
            background-color: #323F48;
        }

        &::placeholder {
            color: transparent;
        }
    }
}


.contactPivacyPolicy {
    display: flex;
    position: relative;
    align-items: center;
    gap: 8px;
    margin-top: 12px;
    cursor: pointer;
    transition: all 0.3s ease;

    >p {
        font-size: 14px;
        color: #F8F5EC;

        >span {
            color: #89BCD9;

            &:hover {
                cursor: pointer;
                text-decoration: underline;
            }
        }
    }
}


.errorText {
    color: #E44C36 !important;
    font-size: 14px;

    position: absolute;
    font-family: 'Josefin';

    &.emailError {
        margin-top: 8px;
        margin-left: 16px;
    }

    &.privacyError {
        margin-top: 40px;
        margin-left: 32px;
    }
}


input.error,
textarea.error {
    border: 2px solid #E44C36 !important;
    outline: none;
}


label.error {
    color: #E44C36 !important;
}


.contactMeButton {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-top: 24px;
    position: relative;

    >button {
        font-family: 'Josefin';
        padding: 13px 30px;
        border-radius: 30px;
        background-color: #262E34;
        border: solid 1.5px #8F9190;
        color: #8F9190;
        font-size: 14px;
        font-weight: 500;
        transition: transform 0.3s ease-out, filter 0.3s ease-out;

        &.enabled {
            border: solid 1px #89BCD9;
            color: #89BCD9;
            cursor: pointer;

            &:hover {
                background-color: #89BCD9;
                color: #262E34;
                transform: scale(1.1);
                filter: brightness(1.2);
            }
        }

        &:disabled {
            cursor: not-allowed;
        }
    }
}


.successMessage {
    position: absolute;
    top: -40px;
    right: 24px;
    background-color: #89BCD9;
    color: #262E34;
    padding: 10px 20px;
    border-radius: 30px;
    font-family: 'Josefin';
    animation: fadeIn 0.3s ease-in;
}


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}


@media (max-width:1125px) {
    .contactInformation {
        grid-template-columns: 345px 250px 1fr;
    }


    .contactForm {
        align-items: flex-start;
    }


    .formGroup {
        >input {
            width: 360px;
        }
    }


    .contactMessage {
        >textarea {
            width: 748px !important;
        }
    }
}


@media (max-width: 783px) {
    .arrowUpDesktop {
        display: none;
    }


    .arrowUpMobile {
        display: flex;
        position: static;
        justify-content: center;
        align-items: center;
    }


    .contactForm {
        gap: 36px;
    }


    .contactInformation {
        display: flex;
        flex-direction: column-reverse;
        margin: 100px 60px;
    }


    .contactNameMail {
        flex-direction: column;
        width: 100vw;
    }


    .formGroup {
        padding: 0 24px;

        >input {
            width: 100%;

        }
    }


    .contactMessage {
        padding: 0 24px;

        >textarea {
            width: 100% !important;
        }
    }


    .contactPivacyPolicy {
        padding: 0 24px;
        line-height: 20px;
    }


    .contactMeButton {
        padding: 0 24px;
    }
}


@media(max-width: 580px) {
    .errorText {

        &.privacyError {
            margin-top: 64px;
        }
    }
}


@media (max-width: 475px) {
    .contactMeSection {
        margin-top: 60px;

        >h1 {
            font-size: 38px;
        }
    }


    .contactInformation {
        margin: 50px 60px;
        gap: 24px;
    }


    .ctaTextMobile {
        display: flex;
        margin-bottom: 35px;
    }


    .formGroup>label,
    .contactMessage>label {
        display: none;
    }


    input::placeholder,
    textarea::placeholder {
        font-family: 'Josefin';
        color: #797d7d !important;
        font-size: 16px;
        padding: 8px;
    }


    .contactMeButton {
        margin-top: 6px;
    }


    .contactPivacyPolicy {
        padding: 0 20px;
    }

    
    .arrowUpMobile>img {
        width: 30px;
        height: 60px;
        margin-top: 100px;
    }
}