<div class="whyMeContainer">
    <h1>Why me</h1>

    <div class="aboutMeIcons">

        <div class="iconContainer">
            <img src="assets/about-me/location.png" alt="icon">


            <p class="title"><span>I am</span> located in Stuttgart..|</p>

            <p class="description">I love coding in a place that inspires creativity – and sometimes, that
                place is my kitchen at 2am.
            </p>
        </div>

        <div class="iconContainer">
            <img src="assets/about-me/bank.png" alt="">


            <p class="title"><span>I am</span> flexible in my work style..|</p>
            <p class="description">Whether it’s tools, timing, or teamwork – I’m quick to adapt and always
                solution-oriented. Coding can be chaotic, but I stay calm and focused when it counts
            </p>

        </div>

        <div class="iconContainer">
            <img src="assets/about-me/remote.png" alt="">

            <p class="title"><span>I am</span> open to work remote..|</p>

            <p class="description">Whether it's from home, a co-working space, or a coffee shop – as long as
                there's Wi-Fi, I'm in my zone</p>
        </div>

        <div class="letsTalkButton">
        <img [src]="buttonHover ? 'assets/about-me/letstalkhover.png' : 'assets/about-me/letstalk.png'" alt="letsTalk"
            (mouseenter)="buttonHover = true" (mouseleave)="buttonHover = false">
        </div>

    </div>