.portfolioSection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 100px;

    >h1 {
        font-size: 60px;
        font-weight: 400;
        color: #89BCD9;
    }
}


.projectContainer {
    width: 100vw;
    margin-top: 100px;
}


.projectTitle {
    display: flex;
    gap: 54px;
    margin-left: 100px;

    >p {
        font-size: clamp(24px, 2vw, 30px);
        font-weight: 500;
        font-family: 'Josefin';
        color: #89BCD9;
        padding: 30px 30px;
        border-top-right-radius: 30px;
        border-top-left-radius: 30px;
        transition: background-color 0.6s ease, color 0.6s ease;

        &.active {
            background-color: #2D383F;
            color: #F8F5EC;
            animation: fadeMorph 0.6s ease-in-out;
        }

        &:hover {
            color: #F8F5EC;
            cursor: pointer;
        }
    }
}


.projectDescription {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    background-color: #2D383F;
    min-height: 800px;
    gap: 80px;
    height: auto;
    padding: 50px 130px;
    color: #F8F5EC;
}


.projectDescriptionLeft,
.projectDescriptionRight {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    max-width: 600px;
    gap: 80px;
    flex: 1;
}


.projectDescriptionRight {
    font-family: 'Josefin';
    gap: 20px !important;

    .imageContainer {
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
        border-radius: 35px;
        border: 1px solid #444;

        >img {
            width: clamp(300px, 35vw, 700px);
            height: auto;
            border-radius: 35px;
            max-height: 450px;
            object-fit: cover;
            transition: transform 0.3s ease-out, filter 0.3s ease-out;

            &:hover:not([src*="soon"]) {
                cursor: pointer;
                transform: scale(1.1);

            }
        }
    }
}


.descriptionRow {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    font-family: 'Josefin';
    gap: 18px;


    >p {
        font-size: 20px;
        font-weight: 300;
        line-height: 28px;
    }
}


.descriptionContainer {
    display: flex;
    align-items: center;
    gap: 12px;
    font-family: 'Josefin';
    margin-left: -40px;

    >h3 {
        font-size: clamp(20px, 4vw, 28px);
        font-weight: 400;

    }

    >p {
        font-size: clamp(14px, 1.5vw, 18px);
        font-weight: 350;
        margin-top: 8px;
        line-height: 30px;

    }
}


.technologiesRow {
    display: flex;
    flex-direction: column;

    >h3 {
        font-weight: 400;
    }
}


.technologyIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;

    >img {
        max-width: 50px;
        max-height: 50px;
    }
}


.smallIcon {
    width: 40px;
    height: auto;
}


.technologyText {
    display: none;
    flex-direction: column;
    gap: 10px;

    >p {
        font-size: 16px;
        font-weight: 400;
        color: #F8F5EC;
    }
}


.actionButtons {
    display: flex;
    align-items: center;
    gap: 54px;
    margin-top: 24px;


    >button {
        padding: 13px 30px 13px 30px;
        border-radius: 30px;
        font-size: 18px;
        font-weight: 400;
        transition: transform 0.3s ease-out, filter 0.3s ease-out;
    }

    >button:first-child {
        background-color: #89BCD9;
        color: #262E34;
        border: none;

        &:first-child:hover {
            background-color: #F8F5EC !important;
            cursor: pointer;
            transform: scale(1.1);
            filter: brightness(1.2);

        }
    }

    >button:last-child {
        background-color: #2D383F;
        border: 2px solid #89BCD9;
        color: #89BCD9;

        &:last-child:hover {
            background-color: #3F464A;
            cursor: pointer;
            transform: scale(1.1);
            filter: brightness(1.2);
        }
    }
}


.largeScreenButtons {
    display: flex;
}


.smallScreenButtons {
    display: none;
}


.fadeIn {
    animation: fadeMorph 0.6s ease-in-out both;
}


@keyframes fadeMorph {
    0% {
        opacity: 0;
        filter: blur(10px) contrast(1.2);
    }

    100% {
        opacity: 1;
        filter: blur(0) contrast(1);
    }
}


@media (max-width:1125px) {
    .projectTitle {
        gap: 22px;
        margin-left: 60px;

        >p {
            font-size: clamp(22px, 2vw, 24px);
            padding: 16px 20px;
        }
    }


    .projectDescription {
        padding: 50px 100px;
        align-items: center;
        gap: 80px;
    }


    .projectDescriptionRight {
        >img {
            width: clamp(300px, 40vw, 700px);
        }
    }


    .projectDescriptionLeft {
        gap: 50px;
    }


    .descriptionContainer {
        >h3 {
            font-size: clamp(20px, 2vw, 28px);
        }
    }


    .descriptionRow {
        >p {
            font-size: 18px;
        }
    }
}


@media (max-width: 1000px) {
    .projectDescription {
        padding: 50px 30px;
        min-height: 700px;
        height: 700px;
    }


    .descriptionContainer {
        margin-left: 0;
    }


    .descriptionRow {
        gap: 6px;
    }


    .projectDescriptionRight {
        >img {
            width: clamp(300px, 44vw, 700px);

        }
    }


    .projectDescriptionLeft {
        gap: 22px;
    }
}


@media (max-width: 830px) {
    .projectTitle {
        margin-left: 4px;
        gap: clamp(16px, 7vw, 64px);

        >p {
            font-size: clamp(18px, 3vw, 24px);
            padding: clamp(12px, 5vw, 20px) clamp(8px, 1vw, 24px);
        }
    }


    .projectDescription {
        align-items: center;
        flex-direction: column-reverse;
        justify-content: flex-start;
        min-height: auto;
        height: auto;
        gap: 20px;
        padding-bottom: 100px;
    }


    .projectDescriptionRight {
        justify-content: space-between;
        gap: 18px !important;
    }


    .projectName {
        font-size: 34px;
        color: #89BCD9;
    }


    .descriptionContainer {
        >h3 {
            color: #89BCD9;
        }
    }


    .technologiesRow {
        flex-direction: row;
        align-items: center;
        gap: 8px;

        >h2 {
            font-size: 30px;
        }

        >h3 {
            font-weight: 350;
        }
    }


    .largeScreenButtons {
        display: none;
    }


    .smallScreenButtons {
        display: flex;
    }


    .technologyIcon {
        display: none;
    }


    .technologyText {
        display: flex;
        flex-direction: row;

        >p {
            font-weight: 350;
        }
    }
}


@media (max-width: 783px) {
    .projectTitle>p {
        transition: none !important;

        &:hover {
            transform: none !important;
            color: #89BCD9 !important;
            cursor: default !important;
        }
    }


    .imageContainer {
        >img {
            transition: none !important;

            &:hover {
                cursor: default !important;
                transform: none !important;
                filter: none !important;
            }
        }
    }


    .actionButtons {

        >button {
            transition: none !important;
        }

        >button:first-child {

            &:first-child:hover {
                background-color: #89BCD9 !important;
                cursor: default !important;
                transform: none !important;
                filter: none !important;
            }
        }

        >button:last-child {

            &:last-child:hover {
                background-color: #2D383F !important;
                cursor: default !important;
                transform: none !important;
                filter: none !important;
            }
        }
    }
}


@media (max-width: 475px) {
    .portfolioSection {
        >h1 {
            font-size: 38px
        }
    }


    .projectContainer {
        margin-top: 50px;
    }


    .projectTitle {
        white-space: nowrap;
        gap: 5px;

        >p {
            font-size: clamp(16px, 5vw, 24px);
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            padding: clamp(6px, 5vw, 20px) clamp(6px, 1vw, 25px);
        }
    }


    .projectDescription {
        height: 100%;
        border-top-right-radius: 30px;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
    }


    .projectDescriptionRight {
        align-items: flex-start;
        justify-content: space-around;
        gap: 18px !important;
    }


    .projectDescriptionLeft {
        gap: 32px;
    }


    .descriptionRow {
        gap: 14px;
    }


    .descriptionContainer {
        >p {
            margin-left: -50px;
        }
    }


    .actionButtons {
        >button {
            padding: 13px 30px 13px 30px;
            font-size: 14px;
            gap: 36px;

            &:last-child {
                border: 1px solid #89BCD9;
            }
        }
    }
}


@media (max-width: 375px) {
    .projectDescription {
        height: auto;
        padding: 20px;
    }

    
    .projectTitle>p {
        font-size: clamp(14px, 2vw, 20px);
        padding: 10px;
    }


    .technologiesRow {
        gap: 10px;
    }
}