<div class="portfolioSection">
    <h1>My Projects</h1>

    <div class="projectContainer">
        <div class="projectTitle">
            <p 
            *ngFor="let project of projectData; let i = index" 
            (click)="setActiveProject(i)"
            [class.active]="i === activeIndex"
            >
                {{ i + 1}}. {{project.title}}
            </p>
        </div>

        <div class="projectDescription" [ngClass]="{ 'fadeIn': fade }">
            <div class="projectDescriptionLeft">

                <div *ngFor="let section of projectData[activeIndex].sections" class="descriptionRow">

                    <img src="assets/projects/ellipse8.png" alt="">
                    <div class="descriptionContainer">
                        <h3>{{ section.heading }}</h3>
                        <p>{{ section.text }}</p>
                    </div>
                </div>
            </div>

            <div class="projectDescriptionRight">
                <h3>Technologies</h3>
                <div class="technologyIcon">
                    <img *ngFor="let tech of projectData[activeIndex].technologies" 
                    [src]="'assets/projects/' + tech"
                    [ngClass]="{ 'smallIcon': tech === 'wordpress.png'}">
                </div>

                
                    <img [src]="'assets/projects/' + projectData[activeIndex].image">
                

                <div class="actionButtons">
                    <button>Live Test</button>
                    <button>GitHub</button>
                </div>
            </div>
        </div>
    </div>
</div>