<div class="portfolioSection">
    <h1>My Projects</h1>

    <div class="projectContainer">
        <div class="projectTitle">
            <p class="active">1. Join</p>
            <p>2. El Pollo Loco</p>
            <p>3. Pokedex</p>
            <p>4. Ongoing Project</p>
        </div>

        <div class="projectDescription">
            <div class="projectDescriptionLeft">

                <div class="descriptionRow">
                    <img src="assets/projects/ellipse8.png" alt="">
                    <div class="descriptionContainer">
                        <h3>About the project</h3>
                        <p>
                            Task manager inspired by the Kanban System. Create and organize tasks
                            using drag and drop functions, assign users and categories.
                        </p>
                    </div>
                </div>


                <div class="descriptionRow">
                    <img src="assets/projects/ellipse8.png" alt="">
                    <div class="descriptionContainer">
                        <h3>How I have organised my work process</h3>
                        <p>
                            How do you keep your code clean and maintainable? Have you broken the
                            project down into reusable modules or components? Focus on documentation,
                            naming files, variables, classes and testing.
                        </p>
                    </div>
                </div>


                <div class="descriptionRow">
                    <img src="assets/projects/ellipse8.png" alt="">
                    <div class="descriptionContainer">
                        <h3>My group work experience</h3>
                        <p>
                            How many people were in the team and what was your role?<br>
                            Describe your tasks in 1–2 sentences. It is nice to mention a good
                            teamwork and cooperation.
                        </p>
                    </div>
                </div>
            </div>

            <div class="projectDescriptionRight">
                <h3>Technologies</h3>
                <div class="technologyIcon">
                    <img src="assets/projects/css.png" alt="">
                    <img src="assets/projects/html.png" alt="">
                    <img src="assets/projects/javascript.png" alt="">
                </div>
                <img src="assets/projects/Screenshot project.png" alt="">

                <div class="actionButtons">
                    <button>Live Test</button>
                    <button>GitHub</button>
                </div>
            </div>
        </div>
    </div>
</div>