<div id="projects" class="portfolioSection">
    <h1 data-aos="fade-down">{{languageService.translate('myProjectsTitle')}}</h1>

    <div class="projectContainer" data-aos="fade-up" data-aos-delay="100">
        <div class="projectTitle" data-aos="fade-right" data-aos-delay="200">
            <p *ngFor="let project of projectData; let i = index" (click)="setActiveProject(i)"
                [class.active]="i === activeIndex">
                <span *ngIf="isSmallScreen; else fullTitle">{{ i + 1}}.
                    {{languageService.translate('myProjectsCount')}}</span>
                <ng-template #fullTitle> {{ i + 1}}. {{project.title[currentLanguage]}}</ng-template>



            </p>
        </div>

        <div class="projectDescription" [ngClass]="{ 'fadeIn': fade }" data-aos="fade-left" data-aos-delay="300">
            <div class="projectDescriptionLeft">

                <div *ngFor="let section of projectData[activeIndex].sections" class="descriptionRow" data-aos="fade-up"
                    data-aos-delay="350">


                    <div class="descriptionContainer">
                        <img src="assets/projects/ellipse8.png" alt="">
                        <h3>{{section.heading[currentLanguage]}}</h3>
                    </div>
                    <p>{{ section.text[currentLanguage] }}</p>
                </div>

                <div *ngIf="isSmallScreen && projectData[activeIndex].title[currentLanguage] !== 'Ongoing Project'"
                    class="actionButtons smallScreenButtons"
                    data-aos="zoom-in" data-aos-delay="400">
                    <button>Live Test</button>
                    <button>GitHub</button>
                </div>
            </div>

            <div class="projectDescriptionRight" data-aos="fade-up" data-aos-delay="400">
                <h2 class="projectName" *ngIf="isSmallScreen">{{ projectData[activeIndex].title[currentLanguage] }}</h2>

                <div class="technologiesRow">
                    <h3>Technologies:</h3>
                    <div class="technologyText" *ngIf="isSmallScreen">
                        <p *ngFor="let tech of projectData[activeIndex].technologies">
                            <span *ngIf="tech === 'html.png'">HTML,</span>
                            <span *ngIf="tech === 'css.png'">CSS,</span>
                            <span *ngIf="tech === 'javascript.png'">JavaScript</span>
                            <span *ngIf="tech === 'wordpress.png'">WordPress</span>
                            <span *ngIf="tech == 'Angular.png'">Angular</span>
                            <span *ngIf="tech == 'ts.png'">TypeScript</span>
                            <span *ngIf="tech == 'firebase.png'">Firebase</span>

                        </p>
                    </div>
                </div>

                <div class="technologyIcon" *ngIf="!isSmallScreen">

                    <img *ngFor="let tech of projectData[activeIndex].technologies" [src]="'assets/projects/' + tech"
                        [ngClass]="{ 'smallIcon': tech === 'wordpress.png'}">
                </div>



                <div class="imageContainer" data-aos="zoom-in" data-aos-delay="450">
                    <img [src]="'assets/projects/' + projectData[activeIndex].image"
                        (click)="openProjectLink(projectData[activeIndex].liveLink)"
                        [style.cursor]="projectData[activeIndex].liveLink ? 'pointer' : 'default'">
                </div>


                <div *ngIf="projectData[activeIndex].title[currentLanguage] !== 'Ongoing Project'"
                    class="actionButtons largeScreenButtons"
                    data-aos="zoom-in-up" data-aos-delay="500">
                    <button (click)="openProjectLink(projectData[activeIndex].liveLink)">Live Test</button>
                    <button (click)="openProjectLink(projectData[activeIndex].githubLink)">GitHub</button>
                </div>
            </div>
        </div>
    </div>
</div>