<div class="pageWrapper">

    <div class="headerMobile">
        <div class="logoContainer">
            <img src="assets/hero/logo-icon.svg" alt="">
            <p>M.Sinner</p>
            <div>developer</div>
        </div>

        <div class="burgerBar" (click)="toggleOverlay()">
            <img *ngIf="!isOverlayOpen" src="assets/hero/bar.png" alt="menu-icon">
            <img *ngIf="isOverlayOpen" src="assets/hero/close.png" alt="close-icon">
        </div>
    </div>


    <div class="heroSection">
        
        <div class="mobileView" *ngIf="isOverlayOpen" [ngClass]="{ 'fade-in': isOverlayOpen }">
            <app-navbar></app-navbar>
        </div>




        <div class="mainPart">
            <div class="pictureContainer">

                <img class="profilePicture" [src]="profilePicture" *ngIf="!isOverlayOpen" alt="profilepicture"
                    (mouseenter)="enableHover && (shapeHovered = true)"
                    (mouseleave)="enableHover && (shapeHovered = false)">


                <img class="backgroundShape" [ngClass]="{ 'hovered': shapeHovered }" *ngIf="!isOverlayOpen" [src]="
                    shapeHovered 
                    ? 'assets/hero/shape-hover.png' 
                    : 'assets/hero/shape-mobile.png'" alt="background shape">

            </div>

            <div class="introductionContainer">

                <div class="logoContainer">
                    <img [src]="logoHovered ? 'assets/hero/logo-icon.png' : 'assets/hero/logo-icon-hover.png'"
                        alt="logo" (mouseenter)="logoHovered=true" (mouseleave)="logoHovered=false">

                    <p>M.Sinner</p>
                    <div>developer</div>
                </div>

                <div class="nameContainer">
                    <p>Martin Sinner</p>
                    <div>FRONTEND DEVELOPER</div>
                </div>



                <div class="arrowDown">
                    <img [src]="arrowHovered ? 'assets/hero/arrow-down-hover.png':'assets/hero/arrow-down.png'"
                        alt="arrow-down" (mouseenter)="arrowHovered=true" (mouseleave)="arrowHovered=false">
                </div>
            </div>
        </div>


        <div class="socialMediaContainer">
            <a href="mailto:martin.sinner.dev@gmail.com">
                <img [src]="emailHovered ? 'assets/hero/mailhover.svg' :'assets/hero/mail.png'" alt="email"
                    (mouseenter)="emailHovered = true" (mouseleave)="emailHovered = false">
            </a>

            <a href="https://github.com/MartinSinner" target="_blank">
                <img [src]="githubHovered ? 'assets/hero/githubhover.svg' : 'assets/hero/git.png'" alt="github"
                    (mouseenter)="githubHovered = true" (mouseleave)="githubHovered = false">
            </a>

            <a href="https://www.linkedin.com/in/martin-sinner" target="_blank">
                <img [src]="linkedinHovered ? 'assets/hero/inhover.svg' : 'assets/hero/in.png'" alt="linkedin"
                    (mouseenter)="linkedinHovered = true" (mouseleave)="linkedinHovered = false">
            </a>
        </div>



    </div>
</div>