.heroSection {
    display: flex;
    background-color: #262E34;
    height: 100vh;
   
}

.mainPart {
    display: flex;
    gap: 150px;
}

.pictureContainer {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 100px;

    >.profilePicture {
        width: 800px;
        height: 800px;
        position: absolute;
        margin-bottom: 8px;
    }

    >.backgroundShape {
        width: 700px;
        height: 800px;
        margin-bottom: -90px;
    }
}

.introductionContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    

    >p {
       
        font-size: 100px;
        color: #F8F5EC;
    }

    >div{
        font-size: 40px;
        color: #F8F5EC;
        text-align: center;
        font-family: 'Josefin';
        font-weight: 380;
        margin-top: 12px;
        margin-bottom: 150px;
    }

    >img {
        width: 38px;
        height: 89px;
    }
}


.socialMediaContainer {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 68px;
    
}









