<div class="pageWrapper">
    <div class="heroSection">

        <div class="mainPart">
            <div class="pictureContainer">
                <img class="profilePicture" src="assets/img/breit.png" alt="profilepicture">
                <img id="background" class="backgroundShape" src="assets/hero/shape.png">
            </div>

            <div class="introductionContainer">

                <div class="logoContainer">
                    <img [src]="logoHovered ? 'assets/hero/logo-icon.png' : 'assets/hero/logo-icon-hover.png'" 
                    alt="logo" (mouseenter)="logoHovered=true" (mouseleave)="logoHovered=false">

                    <p>M.Sinner</p>
                    <div>developer</div>
                </div>

                <div class="nameContainer">
                    <p>Martin Sinner</p>
                    <div>FRONTEND DEVELOPER</div>
                </div>



                <div class="arrowDown">
                    <img [src]="arrowHovered ? 'assets/hero/arrow-down-hover.png':'assets/hero/arrow-down.png'"
                        alt="arrow-down" (mouseenter)="arrowHovered=true" (mouseleave)="arrowHovered=false">
                </div>
            </div>
        </div>


        <div class="socialMediaContainer">
            <img [src]="emailHovered ? 'assets/hero/email-hover.png' :'assets/hero/email-button.png'" alt="email"
                (mouseenter)="emailHovered = true" (mouseleave)="emailHovered = false">


            <img [src]="githubHovered ? 'assets/hero/github-hover.png' : 'assets/hero/github-button.png'" alt="github"
                (mouseenter)="githubHovered = true" (mouseleave)="githubHovered = false">

            <img [src]="linkedinHovered ? 'assets/hero/linkedin-hover.png' : 'assets/hero/linkedin-button.png'"
                alt="linkedin" (mouseenter)="linkedinHovered = true" (mouseleave)="linkedinHovered = false">
        </div>



    </div>
</div>