<footer class="footerSection">

    <div class="contactInfo">
        <p [routerLink]="['/legal-notice']">{{languageService.translate('legalNotice')}}</p>
        <p>© Martin Sinner 2025</p>
    </div>

    <div class="logoContainer" (click)="navigateToHome()">
        <img src="assets/navbar/logonav.png" alt="">
        <p>M.Sinner</p>
        <div>developer</div>
    </div>

    <div class="socialMediaFooter">
        <a href="https://github.com/MartinSinner" target="_blank">
            <img [src]="isSmallScreen ? 'assets/footer/gitwhite.svg' : (gitHovered ? 'assets/footer/githubfooterres.png' : 'assets/footer/githubfooter.png')"
                alt="github" (mouseenter)="gitHovered = true" (mouseleave)="gitHovered = false">
        </a>


        <a href="mailto:martin.sinner.dev@gmail.com">
            <img [src]="isSmallScreen ? 'assets/footer/mailwhite.svg' :(mailHovered ? 'assets/footer/mailfooterres.png' : 'assets/footer/mailfooter.png')"
                alt="email" (mouseenter)="mailHovered = true" (mouseleave)="mailHovered = false">
        </a>

        <a href="https://www.linkedin.com/in/martin-sinner" target="_blank">
            <img [src]="isSmallScreen ? 'assets/footer/linkwhite.svg' :(linkedinHovered ? 'assets/footer/infooterres.png' : 'assets/footer/infooter.png')"
                alt="linkedin" (mouseenter)="linkedinHovered = true" (mouseleave)="linkedinHovered = false">
        </a>

    </div>
</footer>