nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 100vw;
    padding: clamp(6px, 1vw, 10px) clamp(20px, 4vw, 40px);
    background-color: #89BCD9;
    bottom: 0px;
    z-index: 10; 
}

nav.scrolled {
    position: fixed;
    top: 0;
    bottom: auto;
    background-color: #89BCD9;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }

.navbar {
    display: flex;
    gap: clamp(30px, 10vw, 180px);

}

.navbar a {
    text-decoration: none;
    font-size: clamp(16px, 2vw, 26px);
    color: #262E34;
    transition: color 0.3s ease;

    &:hover {
        color: #F8F5EC;
        cursor: pointer;
    }
}


.languageSwitch {
    display: flex;
    justify-content: flex-end;
    gap: 16px;
    margin-right: clamp(16px, 5vw, 64px) !important;


    >p {
        font-size: clamp(12px, 1.5vw, 18px);
        color: #262E34;
    }
}