<div class="mobileNavbar">
    <img src="assets/navbar/navbar-mobile.svg" alt="navbar-mobile">
    <div class="navbar">
        <a href="#whyMe">Why me</a>
        <a href="#skills">Skills</a>
        <a href="#projects">Projects</a>
        <a href="#contact">Contact</a>
        <div class="languageSwitch">
            <p>DE</p>
            <p>EN</p>
        </div>
    </div>
</div>

<nav [class.scrolled]="isScrolled">
    <div class="logoContainer">
        <img src="assets/navbar/logonav.png" alt="">
        <p>M.Sinner</p>
        <div>developer</div>
    </div>

    <div class="navbar">
        <div class="navItem">
            <a href="#whyMe" (click)="setActiveLink('whyMe')" [ngClass]="{'active': activeLink === 'whyMe'}">{{ languageService.translate('whyMe') }}</a>
            <img *ngIf="activeLink === 'whyMe'" src="assets/navbar/ellipsenav.png" alt="active" class="navBackground">
        </div>
        <div class="navItem">
            <a href="#skills" (click)="setActiveLink('skills')" [ngClass]="{'active': activeLink === 'skills'}">{{ languageService.translate('skills') }}</a>
            <img *ngIf="activeLink === 'skills'" src="assets/navbar/ellipsenav.png" alt="active" class="navBackground">
        </div>
        <div class="navItem">
            <a href="#projects" (click)="setActiveLink('projects')" [ngClass]="{'active': activeLink === 'projects'}">{{ languageService.translate('projects') }}</a>
            <img *ngIf="activeLink === 'projects'" src="assets/navbar/ellipsenav.png" alt="active"
                class="navBackground">
        </div>
        <div class="navItem">
            <a href="#contact" (click)="setActiveLink('contact')" [ngClass]="{'active': activeLink === 'contact'}">{{ languageService.translate('contact') }}</a>
            <img *ngIf="activeLink === 'contact'" src="assets/navbar/ellipsenav.png" alt="active" class="navBackground">
        </div>
    </div>


    <div class="languageSwitch">
        <div class="langItem">
            <p (click)="switchLanguage('de')" [ngClass]="{'active': currentLanguage === 'de'}">DE</p>
            <img *ngIf="currentLanguage === 'de'" src="assets/navbar/ellipselang.png" alt="active" class="langBackground">
        </div>
        <div class="langItem">
            <p (click)="switchLanguage('en')" [ngClass]="{'active': currentLanguage === 'en'}">EN</p>
            <img *ngIf="currentLanguage === 'en'" src="assets/navbar/ellipselang.png" alt="active" class="langBackground">
        </div>
    </div>
</nav>