.referenceSection {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Josefin';
    gap: 56px;
    max-width: 1920px;

    >.teamplayerHeading {
        font-weight: 400;
        font-size: 32px;
        color: #89BCD9;
        text-align: center;
    }

    >.teamplayerHeadingSmall,
    >.colleaguesHeadingSmall {
        display: none;
    }
}


.referenceWrapper {
    display: flex;
    gap: 24px;
}


.referenceCard {
    display: grid;
    place-items: center;
    position: relative;

    >img {
        transition: all 0.8s cubic-bezier(0.25, 0.1, 0.25, 1);

        &.hovered {
            filter: blur(1px) brightness(1.0);
            transform: scale(1.05);
        }
    }
}


.referenceInfo {
    position: absolute;
    top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #F8F5EC;
    text-align: center;

    >h3 {
        margin-bottom: 8px;
        font-size: 26px;
    }
}


.refProject {
    margin-bottom: 24px;
    font-size: 18px;

    >span:first-child {
        color: #F8F5EC;
    }

    >span:last-child {
        color: #89BCD9;
        margin-left: 6px;
    }
}


.refDescription {
    font-size: 18px;
    padding: 0 54px;
    line-height: 25px;
}


@media (max-width:1260px) {
    .referenceSection {

        >h1 {
            font-size: 26px;
            text-align: center;
        }
    }


    .referenceWrapper {
        flex-direction: column;
    }
}


@media (max-width: 475px) {
    .referenceSection {
        gap: 24px;
        align-items: flex-start;
        padding: 16px 0 16px 16px;
        overflow: hidden;

        >.teamplayerHeading {
            display: none;
        }

        >.teamplayerHeadingSmall {
            display: flex;
            justify-content: flex-start;
            font-weight: 400;
            font-size: 32px;
            color: #89BCD9;
        }

        >.colleaguesHeadingSmall {
            display: block;
            font-weight: 400;
            font-size: 18px;
            color: #F8F5EC;
        }
    }


    .referenceWrapper {
        display: flex;
        flex-direction: row;
        overflow-x: auto;
        scroll-behavior: smooth;
        gap: 16px;
        width: 100%;
    }


    .referenceCard {
        width: 320px;

        >img {
            width: 320px;
            height: 320px;
            rotate: 90deg;
        }
    }


    .referenceInfo {
        top: 45px;

        >h3 {
            font-size: 22px;
        }

        >span {
            font-size: 16px;
        }
    }


    .refDescription {
        font-size: 16px;
        padding: 0px 34px;
    }
}


@media (max-width: 340px) {
    .referenceCard {
        >img {
            width: 300px;
            height: 300px;
            transition: none;
        }

        >img.hovered {
            filter: none;
            transform: none;
        }
    }


    .referenceInfo {
        top: 40px;
    }


    .refDescription {
        font-size: 14px;
    }

    
    .colleaguesHeadingSmall {
        font-size: 16px !important;
    }
}