<div id="skills" class="skillSection">

    <h1>Skills</h1>


    <div class="skillContainer">
        <div class="skillIconsContainer">
            <img src="assets/skills/angular.png" alt="">
            <img src="assets/skills/ts.png" alt="">
            <img src="assets/skills/js.png" alt="">
            <img src="assets/skills/html.png" alt="">
            <img src="assets/skills/css.png" alt="">
            <img src="assets/skills/firebase.png" alt="">
            <img src="assets/skills/git.png" alt="">
            <img src="assets/skills/api.png" alt="">
            <img src="assets/skills/material.png" alt="">
            <img src="assets/skills/scrum.png" alt="">

        </div>

        <div (mouseenter)="shapeHovered = true" (mouseleave)="shapeHovered = false">
            <div class="skillAddition">
                <img
                [ngClass]="{ 'hovered': shapeHovered }"  
                [src]="shapeHovered ? 'assets/skills/ellipse-hover.png' : 'assets/skills/ellipse-default.png'"
                alt="ellipse">

                <div class="currentlyLearning">
                    <p class="learningTitle">I am currently learning</p>
                    <div class="learningIcons">
                        <img src="assets/skills/react -vue.png" alt="">
                    </div>
                    <p class="learningText">
                        I'm currently diving into React and Vue – not because I have to,
                        but because I want to. Learning new technologies keeps me motivated,
                        sharp, and ready to tackle any frontend challenge.
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>