<div id="skills" class="skillSection">

    <h1 data-aos="fade-down">{{languageService.translate('mySkillsTitle')}}</h1>

    <div class="skillContainer" data-aos="fade-up" data-aos-delay="100">
        <div class="skillIconsContainer" data-aos="zoom-in" data-aos-delay="200">
            <img [src]="isSmallScreen ? 'assets/skills/responsive/angular.svg':'assets/skills/angular.png'" alt="">
            <img [src]="isSmallScreen ? 'assets/skills/responsive/ts.svg':'assets/skills/ts.png'" alt="">
            <img [src]="isSmallScreen ? 'assets/skills/responsive/js.svg':'assets/skills/js.png'" alt="">
            <img [src]="isSmallScreen ? 'assets/skills/responsive/html.svg':'assets/skills/html.png'" alt="">
            <img [src]="isSmallScreen ? 'assets/skills/responsive/css.svg':'assets/skills/css.png'" alt="">
            <img [src]="isSmallScreen ? 'assets/skills/responsive/firebase.svg':'assets/skills/firebase.png'" alt="">
            <img [src]="isSmallScreen ? 'assets/skills/responsive/git.svg':'assets/skills/git.png'" alt="">
            <img [src]="isSmallScreen ? 'assets/skills/responsive/api.svg':'assets/skills/api.png'" alt="">
            <img [src]="isSmallScreen ? 'assets/skills/responsive/material.svg':'assets/skills/material.png'" alt="">
            <img [src]="isSmallScreen ? 'assets/skills/responsive/scrum.svg':'assets/skills/scrum.png'" alt="">
        </div>

        <div data-aos="fade-left" data-aos-delay="300" (mouseenter)="shapeHovered = true"
            (mouseleave)="shapeHovered = false">
            <div class="skillAddition">
                <img [ngClass]="{ 'hovered': shapeHovered }"
                    [src]="!isSmallScreenButton && shapeHovered ? 'assets/skills/ellipse-hover.png' : 'assets/skills/ellipse-default.png'"
                    alt="ellipse">

                <div class="currentlyLearning">
                    <p class="learningTitle">{{languageService.translate('upNext')}}</p>

                    <img src="assets/skills/ellipse-default.png" alt="">

                    <div class="learningIcons">
                        <img src="assets/skills/react -vue.png" alt="">
                    </div>

                    <p class="learningText">
                        {{languageService.translate('description')}}
                    </p>
                </div>

                <button *ngIf="isSmallScreenButton" class="letsTalkButton" (click)="scrollToContact()">{{
                    languageService.translate('letsTalk') }}</button>
            </div>
        </div>
    </div>
</div>