.skillSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;

    >h1 {
        font-size: 60px;
        font-weight: 400;
        color: #89BCD9;
        margin-bottom: 32px;
    }
}


.skillContainer {
    display: flex;
    align-items: center;
    gap: clamp(10px, 10vw, 170px);
    margin-top: 54px;
}


.skillIconsContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: clamp(20px, 4vw, 40px);
    column-gap: clamp(20px, 1vw, 40px);
    height: 420px;
    justify-items: center;
    align-items: center;

    >img {
        width: auto;
        height: 80px;
    }
}


.skillAddition {
    position: relative;
    display: grid;
    justify-items: center;
    align-items: center;
    z-index: 1;

    >img {
        width: 380px;
        height: 380px;
        transition: all 0.8s cubic-bezier(0.25, 0.1, 0.25, 1);

        &.hovered {
            filter: blur(1px) brightness(1.0);
            transform: scale(1.05);
        }
    }
}


.currentlyLearning {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 300px;
    gap: 12px;

    >img {
        display: none;
        width: 129px;
        height: 113px;
        position: relative;
    }

    >p {
        font-size: 16px;
        color: #F8F5EC;
        font-family: 'Josefin';
        font-weight: 350;
        text-align: center;
        line-height: 1.4;
    }
}


@media (max-width: 784px) {
    .skillContainer {
        flex-direction: column;
        margin-top: 8px;
        gap: clamp(10px, 2vw, 170px);

        >img {
            height: clamp(60px, 18vw, 100px) !important;
        }
    }


    .skillIconsContainer {
        row-gap: clamp(5px, 0vw, 50px) !important;
        column-gap: clamp(8px, 4vw, 120px) !important;
    }


    .currentlyLearning {
        top: 80px;
    }


    .skillAddition {
        gap: 50px;

        >img {
            &.hovered {
                filter: none !important;
                transform: none !important;
            }

            &:hover {
                transform: none !important;
                cursor: default !important;
            }
        }
    }


    .letsTalkButton {
        background-color: #89BCD9;
        color: #262E34;
        font-family: 'Josefin';
        font-size: 18px;
        padding: 15px 30px;
        border: none;
        border-radius: 30px;
    }
}


@media (max-width: 475px) {
    .skillSection {
        >h1 {
            font-size: 38px;
        }
    }


    .skillIconsContainer {
        gap: 40px 40px !important;

        >img {
            width: 50px;
            height: auto;
        }

        >img:nth-last-child(2) {
            grid-column: 2;
        }

        >img:nth-last-child(1) {
            grid-column: 3;
        }
    }


    .skillAddition {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 70px;

        >img {
            display: none;
        }

        .learningTitle {
            color: #89BCD9;
            font-size: 20px;
            text-align: center;
            margin-bottom: 24px;
        }

        .learningText {
            font-size: 16px;
            line-height: 1.5;
            margin-right: 100px;
        }
    }


    .currentlyLearning {
        width: 100%;
        position: relative;
        gap: 0;
        top: 30px;

        >img {
            display: flex;
            position: absolute;
            left: 67%;
        }

        .learningIcons {
            position: absolute;
            top: 52%;
            left: 88%;
            transform: translate(-50%, -50%);
            width: 80px;
            height: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 2; // Damit die Icons über der Ellipse liegen
        }

        >p {
            text-align: left;
        }
    }

    
    .letsTalkButton {
        font-size: 14px;
    }
}