<div id="skills" class="skillSection">

    <h1>My Skills</h1>


    <div class="skillContainer">
        <div class="skillIconsContainer">
            <img [src]="isSmallScreen ? 'assets/skills/responsive/angular.svg':'assets/skills/angular.png'" alt="">
            <img [src]="isSmallScreen ? 'assets/skills/responsive/ts.svg':'assets/skills/ts.png'" alt="">
            <img [src]="isSmallScreen ? 'assets/skills/responsive/js.svg':'assets/skills/js.png'" alt="">
            <img [src]="isSmallScreen ? 'assets/skills/responsive/html.svg':'assets/skills/html.png'" alt="">
            <img [src]="isSmallScreen ? 'assets/skills/responsive/css.svg':'assets/skills/css.png'" alt="">
            <img [src]="isSmallScreen ? 'assets/skills/responsive/firebase.svg':'assets/skills/firebase.png'" alt="">
            <img [src]="isSmallScreen ? 'assets/skills/responsive/git.svg':'assets/skills/git.png'" alt="">
            <img [src]="isSmallScreen ? 'assets/skills/responsive/api.svg':'assets/skills/api.png'" alt="">
            <img [src]="isSmallScreen ? 'assets/skills/responsive/material.svg':'assets/skills/material.png'" alt="">
            <img [src]="isSmallScreen ? 'assets/skills/responsive/scrum.svg':'assets/skills/scrum.png'" alt="">

        </div>

        <div (mouseenter)="shapeHovered = true" (mouseleave)="shapeHovered = false">
            <div class="skillAddition">
                <img
                [ngClass]="{ 'hovered': shapeHovered }"  
                [src]="shapeHovered ? 'assets/skills/ellipse-hover.png' : 'assets/skills/ellipse-default.png'"
                alt="ellipse">

                <div class="currentlyLearning">
                    <p class="learningTitle">Up next: React and Vue.</p>
                    <img src="assets/skills/ellipse-default.png" alt="">
                    <div class="learningIcons">
                        <img src="assets/skills/react -vue.png" alt="">
                    </div>
                    <p class="learningText">
                        React and Vue are next on my learning journey—planned once I finish my current projects.
                        Staying curious and growing my skills keeps me sharp and motivated for future frontend challenges.
                    </p>
                </div>
                <button *ngIf="isSmallScreenButton" class="letsTalkButton">Let's Talk</button>
            </div>

        </div>

    </div>
</div>